<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Great Number Game</title>
  <meta name="Great Number Game" content="The Great Number Game Project">
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/styles.css') }}">


</head>

<body>
   <h1>Welcome to the Great Number Game!</h1>
   <p>I am thinking of a number between 1 and 100.</p>
   <p>Take a guess!</p>
   <form action="/guess" method='post'>
      <input type="text" name="guess">
      <input type="submit" value="Submit">
   </form>
   <p id='result'>{{ session['hint'] }}</p>
   <a href="{{ url_for('clear') }}">Redo</a>
</body>

</html>
